   <mat-tab-group>

      <mat-tab label="Portfolio">
        <ng-template matTabContent>
          <ng-container *ngFor = "let stock of portfolio">
            
          </ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="Buy">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>

      <mat-tab label="Sell">
          <ng-template matTabContent>
              
          </ng-template>
      </mat-tab>

      <mat-tab label="Transactions">
          <ng-template matTabContent>
              
          </ng-template>
      </mat-tab>

   </mat-tab-group>
     
          
            
