<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Portfolio">
    <ng-template matTabContent>
      <div class = "list-viewer-wrapper">
        <div class="list-header-title">
            <div class = "mat-headline center">Total Portfolio Value: ${{ getPortfolioValue() | number : '1.2-2'  }}</div>
        </div>

        


        <mat-list style="padding:0">
          <ng-container *ngFor = "let stock of portfolio">
              <mat-divider></mat-divider>
              <mat-expansion-panel style="background:#fafafa">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ stockService.getCompanyName(stock.ticker) }}
                    </mat-panel-title>
                    <mat-panel-description>
                        <span class = "pull-right" >${{ getStockValue(stock.ticker, stock.amount) | number : '1.2-2' }}</span>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-divider></mat-divider>
                  <br />
                  <!--#0000008a
                  -->
                  <ng-template matExpansionPanelContent>
                      <span class = "mat-headline"  >${{ getCurrentPrice(stock.ticker) | number : '1.2-2' }}</span>
                      <span [ngClass]="(isHigher(stock.ticker))?'green':((isEqual(stock.ticker))?'grey':'red')"  >{{ getChange(stock.ticker) }}</span>
                      
                      <mat-panel-description>
                          <span class = "pull-left" >Opening Price: {{ stockService.getOhlc(stock.ticker).open.price }}</span>
                          <span class = "pull-right" >Shares Owned: {{ stock.amount }}</span>
                      </mat-panel-description>
                  </ng-template>
                  <!--
                  <mat-action-row>
                      <button mat-button>Click me</button>
                  </mat-action-row>
                  -->
              </mat-expansion-panel>
          </ng-container>
        </mat-list>

      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Trade">
    <div class="list-viewer-wrapper">
      
      <div class="list-header-title" style="padding: 0">
        <mat-list style="padding: 0">
          <mat-list-item>
              <span class = "mat-title headerColor">Buy/Sell Stock</span>
              <span flex></span>
              <span class = "mat-title pull-right headerColor" >Balance: ${{ getBalance() | number : '1.2-2' }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider></mat-divider>

      
      <form [formGroup] = "orderForm" autocomplete="off">
          <div class="form-container">
            <mat-form-field class="full-width">
                <input 
                    formControlName = "ticker"
                    matInput
                    id="ticker" 
                    type="text" 
                    class="form-control"
                    placeholder="Ticker">
            </mat-form-field>
          </div>
          
          <div class="form-container">
              <mat-form-field class="full-width">
                  <input 
                      formControlName = "amount"
                      matInput
                      id="amount" 
                      type="text" 
                      class="form-control"
                      placeholder="Amount">
              </mat-form-field>
          </div>
            
          <div class="form-container" layout-align="center">
              <button class="form-button" mat-raised-button color = "accent" type="button" [disabled] = "!orderForm.valid" (click) = "buyStock()">Buy</button>
              <br />
              <button class="form-button" mat-raised-button color = "warn" type="button" [disabled] = "!orderForm.valid" (click) = "sellStock()">Sell</button>
          </div>
        </form>
    </div>
  </mat-tab>

  <mat-tab label="Transactions">
    <ng-template matTabContent>
      <div class = "list-viewer-wrapper">
        <div class="list-header-title">
            <div class = "mat-headline center">Transaction History</div>
        </div>

        <mat-list style="padding:0">
          <ng-container *ngFor = "let txn of transactions">
              <mat-divider></mat-divider>
              <mat-list-item>
                <span class = "mat-body">{{ getFormattedDate(txn.date) }} - {{ txn.type.substr(4) }} {{ txn.amount }} - {{ txn.ticker }}</span>
                <span class = "pull-right" >${{ txn.price | number : '1.2-2' }}</span> 
              </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
     
          
            
