<div class = "medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register</div>
    
    <form [formGroup] = "form" (ngSubmit) = "onSubmit()" autocomplete="off">

      <div class="form-container">
          <mat-form-field>
              <input 
                  formControlName = "name"
                  matInput
                  id="name" 
                  type="text" 
                  class="form-control"
                  placeholder="Name">
          </mat-form-field>
      </div>

      <!-- E-mail Field -->
      <div class="form-container">
        <mat-form-field>

            <input 
                formControlName = "email"
                matInput
                id="email" 
                type="email" 
                class="form-control"
                placeholder="Email">
        </mat-form-field>
      </div>
      
      <!-- Password Field -->
      <div class="form-container">
          <mat-form-field hintLabel="Minimum Length: 8">
              <input 
                  formControlName = "password"
                  matInput
                  id="password" 
                  type="password" 
                  class="form-control"
                  placeholder="Password">
          </mat-form-field>
      </div>

      <!-- Confirm Password Field -->
      <div class="form-container">
          <mat-form-field>
              <input 
                  formControlName = "password2"
                  matInput
                  id="password2" 
                  type="password" 
                  class="form-control"
                  placeholder="Confirm Password">
          </mat-form-field>
      </div>

        <div class="form-container">
            <button class="form-button" mat-raised-button color = "primary" type="submit" [disabled] = "!form.valid">Register</button>
            <br>
            <button class="form-button"  mat-raised-button color = "primary" routerLink="/login" type="button">Login</button>
        </div>      

    </form>

  </div>
</div>





