<div class = "medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Register</div>
    
    <form [formGroup] = "form" (ngSubmit) = "onSubmit()">

      <div class="form-container">
          <mat-form-field>
              <input 
                  formControlName = "name"
                  matInput
                  id="name" 
                  type="text" 
                  class="form-control"
                  placeholder="Name">
          </mat-form-field>
          <div *ngIf="name.touched && name.invalid" 
                class="alert alert-danger">
                <mat-error *ngIf="name.errors.required">Name is <strong>required!</strong></mat-error>
          </div>
      </div>

      <!-- E-mail Field -->
      <div class="form-container">
        <mat-form-field>

            <input 
                formControlName = "email"
                matInput
                id="email" 
                type="email" 
                class="form-control"
                placeholder="Email">
        </mat-form-field>
        <div *ngIf="email.touched && email.invalid" 
              class="alert alert-danger">
              <mat-error *ngIf="email.errors.required">E-Mail is <strong>required!</strong></mat-error>
        </div>
      </div>
      
      <!-- Password Field -->
      <div class="form-container">
          <mat-form-field hintLabel="Minimum Length: 8">
              <input 
                  formControlName = "password"
                  matInput
                  id="password" 
                  type="text" 
                  class="form-control"
                  placeholder="Password">
          </mat-form-field>
          
          <div *ngIf="password.touched && password.invalid" 
                class="alert alert-danger">
                <mat-error *ngIf="password.errors.required">Password <strong>required!</strong></mat-error>
          </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="form-container">
          <mat-form-field>
              <input 
                  formControlName = "password2"
                  matInput
                  id="password2" 
                  type="text" 
                  class="form-control"
                  placeholder="Confirm Password">
          </mat-form-field>
          <div *ngIf="password2.touched && password2.invalid" 
                class="alert alert-danger">
                <mat-error *ngIf="password2.errors.required">Password confirmation <strong>is required!</strong></mat-error>
          </div>
      </div>

        <div class="form-container">
            <button class="form-button" mat-raised-button color = "primary" type="submit" [disabled] = "!form.valid">Register</button>
            <br>
            <button class="form-button"  mat-raised-button color = "primary" routerLink="/login" type="button">Login</button>
        </div>      

    </form>

  </div>
</div>





